.row
  .small-12.columns
    label class="text optional control-label" Medical History / Clinical Data / Comments / Rule Out:
    textarea name="requisition_form[medical_history][colitis][other]" autocomplete="off" class="text optional"
