/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require jquery.autocomplete
 *= require_self
 */

@import "requisition_forms";

.columns {
  height: 100%;
}

.alert-box {
  text-align: center;
}

#main-container {
  width: 960px;
  margin: auto;
}

#welcome {
  width: 600px;
  margin: 100px auto 0 auto;
  text-align: center;

  .sign-in {
    text-align: left;
    background: #EFEFEF;
    border: 1px solid #E3E3E3;

    h3 {
      padding: 10px 25px;
      background: #F9F9F9;
      border-bottom: 1px solid #E3E3E3;
      margin: 0;
    }
    form {
      padding: 25px;
      margin: 0;
    }
    .form-actions {
      input {
        margin: 25px 0 0 0;
      }
    }
  }
}

#mast-nav {
  overflow: hidden;
  background: #EFEFEF;
  border: 1px solid #E3E3E3;
  border-top: none;
  padding: 10px 6px 10px 12px;

  .brand {
    font-size: 24px;
    font-weight: bold;
    float: left;
  }
  .right {
    overflow: hidden;

    >span,a {
      margin: 0 6px;
      padding: 5px 0;
      display: inline-block;
    }
  }
}

#main-content {
  padding: 25px 0;
}

#users-show {
  #main-content {

    .button {
      margin: 0 20px 0 0;
    }
  }
}

.patients,
.requisition-forms {
  width: 100%;

  th {
    text-align: left;
  }
}

.hide {
  display: none;
}

.ba {
  border: 1px solid #000;
}
.bl {
  border-left: 1px solid #000;
}
.br {
  border-right: 1px solid #000;
}
.bt {
  border-top: 1px solid #000;
}
.bb {
  border-bottom: 1px solid #000;
}

label.error {
  color: red;
}