#requisition-form-show {
  font-size: 12px;

  .logo {
    margin: 0 0 10px 0;
  }
  .pad {
    padding: 7px;
  }
  .vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
  }
  .box {
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    display: inline-block;
    padding: 0;
    font-size: 9px;
    font-weight: bold;
  }
  .top-left {

  }
  .patient-info {

  }
  .referring-info {
    height: 124px;
    .head {
      margin: 0 0 5px 0;
    }
  }
  .top-right {
    height: 178px;

    .top {
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      display: block;
    }
    .bottom {
      text-align: center;
      display: block;
    }
    .head {
      font-weight: bold;
      margin: 0 0 2px 0;
    }
  }
  .medical-history {
    padding: 15px;
    .head {
      font-weight: bold;
      margin: 0 0 10px 0;
    }
    .input {
      margin: 0 0 5px 0;
      font-size: 12px;
      .box {
        margin: 0 10px 0 0;
      }
    }
    .rule-out {
      padding: 10px 0 0 15px;
    }
  }
  .special-requests {
  }
  .specimens {
    table {
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;

      th {
        font-size: 13px;
        .head {

        }
        .content {
          margin: 10px 0 0 0;
          font-weight: normal;
          text-align: left;
          font-size: 10px;

          .align-left {
            float: left;
          }
          .align-right {
            float: right;
          }
        }
      }
    }
    .specimen-grid-row {
      td {
        height: 20px;
      }
    }
    .specimen-first {
      width: 115px;
    }
    .specimen-box {
      width: 24px;
      padding: 0;
      font-size: 17px;
      padding: 0 0 0 6px;
      font-weight: bold;
    }
    .specimen-other {
      width: 35px;
    }
    .specimen-headers {
      height: 120px;
      vertical-align: bottom;

      .vertical-text {
        width: 6px;
        margin: auto;
        font-weight: normal;
      }
      th {
        padding: 0 0 3px 0;
      }
    }
  }
}

.requisition-form-form {
  .form-inputs {
    >.row {
      border: 1px black solid ;
      border-bottom: none;
      >.columns {
        padding: 10px;
      }
    }
  }
  .patient-info {
    .input {
      width: 22%;
      float: left;
      margin-right: 3%;
    }
  }
  .optional {
    .text-input {
      width: 100px;
    }
  }
  .rule-out {
    padding: 10px;
    label {
      font-size: inherit;
    }
  }

  // Specimen Section
  .pad {
    padding: 7px;
  }
  .vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
  }
  .specimens {
    table {
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;

      th {
        font-size: 13px;
        .head {

        }
        .content {
          margin: 10px 0 0 0;
          font-weight: normal;
          text-align: left;
          font-size: 10px;

          .align-left {
            float: left;
          }
          .align-right {
            float: right;
          }
        }
      }
    }
    .specimen-grid-row {
      td {
        height: 20px;
      }
    }
    .specimen-first {
      width: 115px;
    }
    .specimen-box {
      width: 20px;
      padding: 0;
      font-size: 17px;
      padding: 0;
      font-weight: bold;
    }
    .specimen-other {
      width: 35px;
    }
    .specimen-headers {
      height: 120px;
      vertical-align: bottom;

      .vertical-text {
        width: 6px;
        margin: auto;
        font-weight: normal;
      }
      th {
        padding: 0 0 3px 0;
      }
    }
  }
}