#requisition-form-show {
  font-size: 12px;

  .logo {
    margin: 0 0 10px 0;
  }
  .pad {
    padding: 7px;
  }
  .vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
  }
  .box {
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    display: inline-block;
    padding: 0;
    font-size: 9px;
    font-weight: bold;
  }
  .top-left {

  }
  .referring-info {
    height: 124px;
    .head {
      margin: 0 0 5px 0;
    }
  }
  .check-and-label {
    display: inline-block;
  }
  .top-right {
    height: 178px;

    .top {
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      display: block;
    }
    .bottom {
      text-align: center;
      display: block;
    }
    .head {
      font-weight: bold;
      margin: 0 0 2px 0;
    }
  }
  .medical-history,
  .laboratory-tests {
    padding: 15px;
    .head {
      font-weight: bold;
      margin: 0 0 10px 0;
    }
    .input {
      margin: 0 0 5px 0;
      font-size: 12px;
      .box {
        margin: 0 10px 0 0;
      }
      >span {
        .box {
          margin: 0 5px 0 10px;
        }
      }
    }
    .rule-out {
      padding: 10px 0 0 15px;
    }
  }
  .special-requests {
  }
  .specimens {
    table {
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;

      th {
        font-size: 13px;
        .head {

        }
        .content {
          margin: 10px 0 0 0;
          font-weight: normal;
          text-align: left;
          font-size: 10px;

          .align-left {
            float: left;
          }
          .align-right {
            float: right;
          }
        }
      }
    }
    .specimen-grid-row {
      td {
        height: 20px;
      }
    }
    .specimen-first {
      width: 115px;
    }
    .specimen-box {
      width: 24px;
      padding: 0;
      font-size: 17px;
      padding: 0 0 0 6px;
      font-weight: bold;
    }
    .gi-other {
      width: 230px;
    }
    .specimen-other {
      width: 35px;
    }
    .specimen-headers {
      height: 120px;
      vertical-align: bottom;

      .vertical-text {
        width: 6px;
        margin: auto;
        font-weight: normal;
      }
      .horizontal-text {
        font-weight: normal;
        vertical-align: middle;
      }
      th {
        padding: 0 0 3px 0;
      }
    }
  }
}

.requisition-form-form {
  font-size: 12px;

  label {
    font-size: inherit;
    font-weight: normal;
    color: #000;
    &.error {
      margin: -8px 0 10px;
    }
  }
  input {
    font-size: inherit;
    padding: 3px;
    height: auto;
  }
  input[disabled] {
    background-color: #F4F4F4;
  }
  select {
    margin: 3px 0 1em;
    padding: 1px;
  }
  .logo {
    margin: 0 0 10px 0;
  }
  h4 {
    margin: 0 0 15px;
    color: #666;
  }
  .form-inputs {
    margin: 0 0 10px;
    >.row {
      border: 1px black solid ;
      border-bottom: none;
      >.columns {
        padding: 10px;
      }
      select {
        width: auto;
      }
      .radio-group {
        overflow: hidden;
        clear: both;
        label {
          float: left;
          margin: 16px 5px 1em
        }
      }
      .info {
      }
      .icd-9s {
        input {
          margin-bottom: 10px;
        }
        .button {
          margin-bottom: 10px;
          width: 80px;
          display: block;
        }
      }
      .patient-info {
        .input {
          float: left;
        }
      }
      .optional {
        .text-input {
          width: 100px;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
      .rule-out {
        padding: 10px;
        label {
          font-size: inherit;
        }
      }
      .medical-history {
        .small-inputs .text-input {
          width: 80px;
        }
      }


      // Specimen Section

      .pad {
        padding: 7px;
      }
      .family-type {
        margin-left: 62px;
      }
      .other {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
      }
      .vertical-text {
        writing-mode:tb-rl;
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform: rotate(-90deg);
        white-space:nowrap;
        display:block;
      }
      .gen-specimens {
        .text-input {
          display: inline-block;
          width: 95%;
          margin-left: 5px;
        }
      }
      .specimens {
        padding: 0;
        input[type="text"] {
          margin: 0;
        }
        table {
          width: 100%;
          border: none;
          margin: 0;
          padding: 0;

          th {
            font-size: 13px;
            .head {

            }
            .content {
              margin: 10px 0 0 0;
              font-weight: normal;
              text-align: left;
              font-size: 10px;

              .align-left {
                float: left;
              }
              .align-right {
                float: right;
              }
            }
          }
          .br, .bl, .bb, .bt, .ba {
            border-color: #BBB;
          }
        }
        .specimen-grid-row {
          td {
            height: 20px;
          }
        }
        .specimen-first {
          width: 115px;
          input {
            width: 90%;
            float: right;
          }
          span {
            display: inline-block;
            padding: 5px 0 0;
          }
        }
        .specimen-box {
          width: 20px;
          padding: 0;
          font-size: 17px;
          padding: 0;
          font-weight: bold;
        }
        .specimen-other {
          width: 35px;
        }
        .specimen-headers {
          height: 120px;
          vertical-align: bottom;

          .vertical-text {
            width: 6px;
            margin: auto;
            font-weight: normal;
          }
          th {
            padding: 0 0 3px 0;
          }
        }
        .specimen-copy-button {
          margin: 0;
        }
      }
    }
  }
  .patient-info,
  .insurance-info {
    position: relative;

    .clear {
      position: absolute;
      top: 17px;
      right: 15px;
      color: #424cb0;
      cursor: pointer;
      font-weight: bold;
      font-size: 11px;
      display: none;
    }
  }
}